@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.navbar {
  margin: 1em 1em;
  position: fixed;
  z-index: 1;
  animation: nav-load 1s ease 3s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.navbar nav {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar .links {
  text-align: center;
  top: 0;
}

.navbar .links li {
  padding: 0.5em 0;
  list-style: none;
  color: #000;
  font-family: "Outfit";
  font-size: 1em;
  text-transform: uppercase;
}
.navbar .links li:hover {
  font-weight: 600;
}
.navbar .links li a {
  transition: 0.2s ease;
  text-decoration: none;
  color: #000;
}
.navbar .links li:hover a, .navbar .links li:hover a:visited {
  color: #FF9800;
}

.navbar .social-links {
  margin-top: 8em;
}
.navbar .social-links li {
  padding: 0.5em;
  list-style: none;
  margin: 2em 0;
  font-size: 1.5em;
  color: #000;
  transition: 0.5s ease-in-out;
  transition: 0.3s ease;
}
.navbar .social-links li span {
  text-transform: lowercase;
  color: #FF9800;
  margin: 0em 1.3em;
  font-size: 0.8em;
  visibility: hidden;
  opacity: 0;
  font-family: "Quicksand";
  position: absolute;
  transition: 0.4s ease;
}
.navbar .social-links li:hover {
  border-radius: 0.2em;
  cursor: pointer;
  color: #FF9800;
}
.navbar .social-links li:hover span {
  border-radius: 0.2em;
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  transform: translateX(10%);
}
.navbar .social-links li a:visited, .navbar .social-links li a {
  color: #000;
  transition: 0.3s ease;
}
.navbar .social-links li:hover a, .navbar .social-links li:hover a:visited {
  color: #FF9800;
}

@media screen and (max-width: 768px) {
  .navbar {
    bottom: 0;
    right: 0;
    background-color: #FF9800;
    width: 100%;
    height: auto;
    position: fixed;
    margin: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    animation: nav-load-2 0.6s ease 2.5s;
    opacity: 1;
    transform: translateY(100%);
    animation-fill-mode: forwards;
  }
  .navbar nav {
    margin: 0.8em;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar span {
    display: none;
  }
  .navbar .links {
    display: none;
  }
  .navbar .social-links {
    margin: auto;
    width: 100%;
  }
  .navbar .social-links ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  .navbar .social-links li {
    font-size: 2em;
    padding: 0;
    margin: 0;
  }
  .navbar .social-links li a:visited, .navbar .social-links li a {
    color: #000;
    transition: 0.3s ease;
  }
  .navbar .social-links li:hover a, .navbar .social-links li:hover a:visited {
    color: #000;
  }
}
@keyframes nav-load {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes nav-load-2 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.2em;
  background-color: #FF9800;
}

body {
  background-color: #fff;
}

h1 {
  font-family: "Outfit";
  text-transform: lowercase;
  font-size: 5em;
  animation: load 1s ease 2.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

p {
  font-size: 1.5rem;
  font-family: "Quicksand";
  font-weight: 500;
  animation: load 1s ease 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.hero {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.hero .hero-text h1 {
  font-size: 3em;
}
.hero .hero-text span {
  font-size: 1.8em;
}

.hero .hero-img img {
  width: 650px;
  animation: load 1s ease 2.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.content-wrapper {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  width: 70%;
}

.about {
  padding: 3em 0;
}

.work {
  padding-top: 2em;
}
.work h1 {
  text-align: center;
  margin-bottom: 1em;
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
}

.project-wrapper .project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 30em;
  padding: 2em 0;
  overflow: hidden;
  filter: grayscale(1);
  transition: 0.3s ease;
  animation: load 1s ease 2.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.project-wrapper .project img {
  padding: 2em 0;
  margin: auto;
  width: 80%;
  text-align: center;
  transition: 0.4s ease;
}
.project-wrapper .project:hover img {
  width: 82%;
}
.project-wrapper .project button {
  visibility: hidden;
  width: 100%;
  padding: 0.5em 1em;
  cursor: pointer;
  font-family: "Quicksand";
  font-weight: 600;
  color: #fff;
  font-size: 1.1em;
  text-align: center;
  background-color: #000;
  border: none;
  border-radius: 1.5em;
  border: #000 solid 3px;
  opacity: 0;
  transition: 0.3s ease;
}
.project-wrapper .project button:hover {
  background-color: transparent;
  color: #000;
  border: #FF9800 solid 3px;
}
.project-wrapper .project:hover {
  filter: grayscale(0);
}
.project-wrapper .project:hover button {
  opacity: 1;
  visibility: visible;
}

.footer {
  margin-top: 10em;
  width: 100%;
  text-align: center;
}
.footer footer {
  font-family: "Quicksand";
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 2em;
    margin-bottom: 5em;
    padding: 0;
  }
  .content-wrapper {
    width: 100%;
  }
  .hero {
    margin: 5em 3em;
  }
}
@media screen and (max-width: 590px) {
  p {
    font-size: 1.2em;
  }
  .content-wrapper {
    width: 100vw;
  }
  .hero {
    margin-top: 5em;
  }
  .hero .hero-text {
    font-size: 0.6em;
    margin-bottom: 5em;
  }
  .hero .hero-img {
    display: none;
  }
}
@keyframes load {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=main.css.map */