// ! #region IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');

// @import './_navbar';

* {
    margin: 0;
    padding: 0;
}

$heading: 'Outfit';
$content: 'Quicksand';
$orange: #FF9800;
// #endregion

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: #000;
}
::-webkit-scrollbar-thumb{
    border-radius: 0.2em;
    background-color: $orange;
}
body {
    background-color: #fff;
}
h1 {
    font-family: $heading;
    text-transform: lowercase;
    // font-size: 6em;
} 
p {
    font-size: 1.5rem;
    font-family: $content;
    font-weight: 500;
}

//? #region NAVBAR
.navbar{
    display: flex;
    flex-direction: row;
    // top: 0;
    text-align: center;
    align-items: center;
    height: 85vh;
    margin: 0 1em;
    position: fixed;
    padding: 1em;
    z-index: 1;
    // background-color: rgba(0, 255, 255, 0.288);
}

.navbar .links li {
    padding: 0.5em 0;
    list-style: none;
    color: #000;
    font-family: $heading;
    font-size: 1em;
    text-transform: uppercase;
    &:hover {
        font-weight: 600;
    }
    a {
        transition: 0.2s ease;
        text-decoration: none;
        color: #000;
    }

    &:hover a, &:hover a:visited {
        color: $orange;
    }
}
.navbar .social-links {
    margin-top: 8em;

    li {
        padding: 0.5em;
        list-style: none;
        margin: 2em 0;
        font-size: 1.5em;
        color: #000;
        transition: 0.5s ease-in-out;
        transition: 0.3s ease;

        span {
            text-transform: lowercase;
            color: $orange;
            margin: 0em 1.3em;
            font-size: 0.8em;
            visibility: hidden;
            opacity: 0;
            font-family: $content;
            position: absolute;
            transition: 0.4s ease;
        }

        &:hover {
            border-radius: 0.2em;
            cursor: pointer;
            color: $orange;

            span {
                border-radius: .2em;
                visibility: visible;
                opacity: 1;
                cursor: pointer;
                transform: translateX(10%);
            }
        }

        a:visited, a {
            color: #000;
            transition: 0.3s ease;
        }

        &:hover a, &:hover a:visited {
            color: $orange;
        }
    }
}

// #endregion

//? #region HERO
.hero {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.hero .hero-text{
    h1 {
        font-size: 5em;
    }
    #hello {
        font-size: 4em;
    }
}
.hero .hero-img{
    transition: 0.3s ease;
    img {
        // transition: opacity 1s ease;
        height: 600px;
    }
    &:hover {
        // filter: grayscale(1);
        // filter: grayscale();
        transform: translateY(-3%);
    }
        
}
// #endregion

// #region CONTENT 
.content-wrapper {
    margin: auto;
    // margin-left: 0 3em;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    width: 70%;
    // padding-bottom: 10em;
  
}
.content {
    margin: 3em 0;
}
// #endregion

// #region WORK
.project-wrapper {
    // background-color: aqua;
    // padding: 2em;
    // margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
}
.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15em;
    width: 30em;
    background-color: #fff;
    overflow: hidden;
    filter: grayscale(1);
    // border: #FF9800 solid 10px;
    transition: 0.3s ease;

    img {
        margin: auto;
        width: 80%;
        text-align: center;
    }
    button {
        visibility: hidden;
        
        width: 100%;
        padding: 0.5em 1em;
        cursor: pointer;

        font-family: $content;
        font-weight: 600;
        color: #fff;
        font-size: 1.1em;
        text-align: center;
        
        background-color: #000;
        border: none;
        border-radius: 1.5em;

        border: #000 solid 3px;
        opacity: 0;
        transition: 0.3s ease;
    }
    button:hover {
        background-color: transparent;
        color: #000;
        border: $orange solid 3px;
    }
    &:hover {
        filter: grayscale(0);
    }
    &:hover button{
        opacity: 1;
        visibility: visible;
    }

}
// #endregion

// #region FOOTER
.footer {
    margin-top: 10em;
    width: 100%;
    // padding: 3em;
    text-align: center;
    footer {
        font-family: $content;
        height: 5em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
// #endregion
// MOBILE 768PX
@media screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
    }
    .navbar {
        visibility:hidden;
        height: 50px;
        flex-direction: row;
        width: 100%;
        bottom: 0;
    }
    .content-wrapper {
        width: 100%;
    }
    .hero {
        margin-right:0 3em;
    }
}


