@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');

*{
    margin:0;
    padding:0;
}
:root {
    --heading: 'Outfit';
    --content: 'Quicksand';

    --gray: #9b9b9b;

};

body {
    background-color: #ffffff;
}
.content-wraper{
    margin-left: 9em;
}
.social-nav {
    display: flex;
    align-items: center;
    margin: 1em;
    height: 100vh;
    position: fixed;
    z-index: 1;
    padding: 1em;
}
.social-nav li {
    padding: 0.5em;
    list-style: none;
    margin: 2em 0;
    font-size: 1.5em;
    color: var(--gray);
    transition: 0.2s ease-in-out;
}
.social-nav li:hover {
    border-radius: 0.2em;
    cursor: pointer;
    color: #000;
}
.social-nav span{
    text-transform: lowercase;
    color: #000;
    margin: 0em 1.2em;
    font-size: 0.8em;
    visibility: hidden;
    opacity: 0;
    font-family: var(--content);
    position: absolute;
    transition: .2s ease;
}
.social-nav li:hover span{
    border-radius: .2em;
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    transform: translateX(10%);

}
.social-nav a, a:visited {
    color: var(--gray);
}
.social-nav li:hover a, a:visited{
    color: #000000;
}
p {
    font-size: 100px;
    font-family: var(--content);
}